RewriteEngine On
RewriteBase /https://beamboxx.in/

# Redirect example.com/page to example.com/page.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# Redirect example.com/page.html to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.+)\.html$ /https://beamboxx.in/$1 [R=301,L]

# Custom 404 error page
ErrorDocument 404 /https://beamboxx.in/404.html

# Redirect non-existent pages to 404.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /https://beamboxx.in/404.html [L]
